<%= form_for ([@presentation, @survey, @question]) do |f| %>
  <p>
    <%= f.label :order %>
    <%= f.text_field :order %>
  </p>

  <p>
    <%= f.label :subject %>
    <%= f.text_area :subject %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
