<div class="row">
  <div class="col-lg-12">
    <%= content_tag :div, class: "panel #{panel_color}" do %>
      <div class="panel-heading">
        <h4><%= title %></h4>
      </div>
      <table class="table">
        <tr>
          <th class="col-md-3">Title</th>
          <th class="col-md-2">Date</th>
          <th class="col-md-1">Location</th>
          <th class="col-md-3">Description</th>
          <th class="col-md-3"><%= feedback_header(current_user) %></th>
        </tr>
        <% presentations.each do |pre| %>
        <tr>
          <td><%= link_to pre.title, pre %></td>
          <td><%= display_date(pre.date) %></td>
          <td><%= pre.location %></td>
          <td><%= display_description(pre) %></td>
          <td><%= feedback_content(
                user: current_user,
                presentation: pre
              ) %></td>
        </tr>
        <% end %>
      </table>
    <% end %>
  </div>
</div>
<!-- /.row -->
