<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Date</th>
    <th>Location</th>
    <th>Description</th>
    <th><%= feedback_header(current_user.is_admin) %></th>
  </tr>
  <% presentations.each do |pre| %>
  <tr>
    <td><%= link_to pre.title, pre %></td>
    <td><%= pre.date.strftime("%a - %-m/%d/%y @ %l:%M %P") %></td>
    <td><%= pre.location %></td>
    <td><%= display_description(pre) %></td>
    <td><%= feedback_content(current_user.is_admin, pre, feedback_message) %></td>
  </tr>
  <% end %>
</table>
