<h2><%= title %></h2>
<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Date</th>
    <th>Location</th>
    <th>Description</th>
    <th><%= feedback_header %></th>
  </tr>
  <% presentations.each do |pre| %>
  <tr>
    <td><%= link_to pre.title, pre %></td>
    <td><%= display_date(pre.date) %></td>
    <td><%= pre.location %></td>
    <td><%= display_description(pre) %></td>
    <td><%= feedback_content(pre, feedback_message) %></td>
  </tr>
  <% end %>
</table>
