<h1>Presentations</h1>
<% if current_user.is_admin %>
<p><%= "#{current_user.first_name} #{current_user.last_name} is an admin"%></p>
<% end %>
<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Date</th>
    <th>Location</th>
    <th>Description</th>
    <% if current_user.is_admin %>
      <th>Admin</th>
    <% end %>
  </tr>
<% @presentations.each do |pre| %>
  <tr>
    <td><%= link_to pre.title, pre %></td>
    <td><%= pre.date.strftime("%a - %-m/%d/%y @ %l:%M %P") %></td>
    <td><%= pre.location %></td>
    <td>
      <% if pre.description.length > 30 %>
        <a tabindex="0" role="button" data-toggle="popover" data-placement="bottom" data-trigger="focus" data-content="<%= pre.description %>"><%= pre.description[0..30].gsub(/\s\w+\s*$/, '...') %></a>
      <% else %>
        <%= pre.description %>
      <% end %>
    </td>
    <% if current_user.is_admin %>
      <td class="admin-link">
        <%= link_to "Edit", edit_presentation_path(pre), class: "btn btn-default" %>
        <%= link_to "Delete", presentation_path(pre), class: "btn btn-default", method: :delete %>
      </td>
    <% end %>
  </tr>
<% end %>
</table>
