<h1>Presentations</h1>
<% if current_user.is_admin %>
<p><%= "#{current_user.first_name} #{current_user.last_name} is an admin"%></p>
<% end %>
<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Date</th>
    <th>Location</th>
    <th>Description</th>
  </tr>
<% @presentations.each do |pre| %>
  <tr>
    <td><%= pre.title %></td>
    <td><%= pre.date %></td>
    <td><%= pre.location %></td>
    <td><%= pre.description %></td>
  </tr>
<% end %>
</table>
