<div class="container">

  <%= back_button(presentations_path) %>

  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 text-center">
      <%= presentation_admin_options(current_user, @presentation) %>
      <h1><%= @presentation.title.capitalize %></h1>
      <h4><strong>Location:&nbsp;</strong><%= @presentation.location %></h4>
      <h4><strong>Date &amp; Time:&nbsp;</strong><%= display_date(@presentation.date) %></h4>
      <div class="well">
        <%= @presentation.description %>
      </div>
      <% if see_feedback_button?(current_user, @presentation) %>
        <%= feedback_button(current_user, @presentation) %>
      <% end %>
      <hr />
    </div>
  </div>
  <!-- /.row -->

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">

      <%= participation_table(
        user: current_user,
        role: :presenter,
        participations: @presenters
      ) %>

      <%= participation_table(
        user: current_user,
        role: :attendee,
        participations: @attendees
      ) %>
    </div>
  </div>
  <!-- /.row -->

</div>
<!-- /.container -->


<% if current_user && current_user.is_admin %>
<div id="participation-form-modal" class="modal fade bs-example-modal-sm" tabindex="-1">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit Participation</h4>
      </div>
      <div class="modal-body">
        <p>Select users you wish to add to/remove from <strong>&quot;<%= @presentation.title %>&quot;</strong>&hellip;</p>
        <%= form_for(@presentation, html: { id: "participation-form" }) do |f| %>
          <%= f.collection_check_boxes(:user_ids, User.all.order(:email), :id, :full_name) do |c| %>
          <div class="checkbox">
            <label>
              <%= c.check_box %> <%= c.text %>
            </label>
          </div>
          <% end %>
          <%= f.submit "Submit", style: "display: none", id: "submit-capybara" %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="participation-form-submit" type="button" class="btn btn-primary" data-dismiss="modal">Submit Changes</button>
      </div>
    </div>
  </div>
</div>
<% end %>
<!-- /.modal -->
