<fieldset class="form-group">
  <h5><%= response.question.prompt %></h5>
  <div class="form-control">
    <%= hidden_field_tag('responses[][question_id]', response.question.id) %>

    <%= radio_button_tag("responses[][value]", "1", false) %>
    <%= label_tag(:responses, "Strongly Disagree")%>

    <%= radio_button_tag("responses[][value]", "2", false) %>
    <%= label_tag(:responses, "Disagree")%>

    <%= radio_button_tag("responses[][value]", "3", false) %>
    <%= label_tag(:responses, "Neutral")%>

    <%= radio_button_tag("responses[][value]", "4", false) %>
    <%= label_tag(:responses, "Agree")%>

    <%= radio_button_tag("responses[][value]", "5", false) %>
    <%= label_tag(:responses, "Strongly Agree")%>

    <%= radio_button_tag("responses[][value]", "", true, type: "hidden") %>
  </div>
</fieldset>
