<fieldset class="form-group">
  <h5><%= response.question.prompt %></h5>
  <div class="form-control">
    <%= radio_button_tag("responses[#{response.question.id}]", "1", false) %>
    <%= label_tag(:responses, "Strongly Disagree")%>

    <%= radio_button_tag("responses[#{response.question.id}]", "2", false) %>
    <%= label_tag(:responses, "Disagree")%>

    <%= radio_button_tag("responses[#{response.question.id}]", "3", false) %>
    <%= label_tag(:responses, "Neutral")%>

    <%= radio_button_tag("responses[#{response.question.id}]", "4", false) %>
    <%= label_tag(:responses, "Agree")%>

    <%= radio_button_tag("responses[#{response.question.id}]", "5", false) %>
    <%= label_tag(:responses, "Strongly Agree")%>

    <%= radio_button_tag("responses[#{response.question.id}]", "", true, type: "hidden") %>
  </div>
</fieldset>
