<fieldset class="form-group <%= error_class(response) %>">
  <h5><%= response.question.prompt %></h5>
  <div class="form-control">
    <%= radio_button_tag("responses[question_id][#{response.question.id}]",
      "1", scale_response_match(response, "1")) %>
    <%= label_tag(:responses, "Strongly Disagree")%>

    <%= radio_button_tag("responses[question_id][#{response.question.id}]",
      "2", scale_response_match(response, "2")) %>
    <%= label_tag(:responses, "Disagree")%>

    <%= radio_button_tag("responses[question_id][#{response.question.id}]",
      "3", scale_response_match(response, "3")) %>
    <%= label_tag(:responses, "Neutral")%>

    <%= radio_button_tag("responses[question_id][#{response.question.id}]",
      "4", scale_response_match(response, "4")) %>
    <%= label_tag(:responses, "Agree")%>

    <%= radio_button_tag("responses[question_id][#{response.question.id}]",
      "5", scale_response_match(response, "5")) %>
    <%= label_tag(:responses, "Strongly Agree")%>
  </div>
  <%= error_messages(response) %>
</fieldset>
