<div class="container">

  <%= back_button(presentation_path(@presentation)) %>

  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 text-center">
      <h1>Feedback for &quot;<%= @presentation.title %>&quot;</h1>
      <h4><strong>Location:&nbsp;</strong><%= @presentation.location %></h4>
      <h4><strong>Date &amp; Time:&nbsp;</strong><%= display_date(@presentation.date) %></h4>
      <div class="well">
        <%= @presentation.description %>
      </div>
    </div>
  </div>
  <!-- /.row -->

  <% @presentation.surveys.each do |survey| %>
    <%= render 'results', survey: survey %>
  <% end %>

</div>
<!-- /.container -->
