<h1><%= @presentation.title %></h1>
<% @presentation.surveys.each do |survey| %>
  <h2><%= survey.subject %></h2>
  <% survey.questions.each do |question| %>
    <h5><%= question.prompt %></h5>
    <% if question.response_type == 'number' %>
      <%= bar_chart(@data[question.id], max: @maximum) %>
    <% elsif question.response_type == 'text' %>
      <% @responses.where(question_id: question.id).each do |response| %>
        <li><%= response.value %></li>
      <% end %>
    <% end %>
  <% end %>
<% end %>
