<h1>Feedback for <%= @presentation.title %></h1>

<%= form_tag(presentation_responses_path(@presentation), method: 'post') do |f|%>
  <% @surveys.each do |survey|  %>
    <h3><%= survey.subject %></h3>

      <% survey.position_questions.each do |q| %>
          <% if q.response_type == "text" %>
            <%= render 'text_form_partial', question: q %>
          <% else %>
            <%= render 'scale_form_partial', question: q %><br>
          <% end %>
      <% end %>

  <% end %>
  <%= submit_tag("Submit") %>
<% end %>
