<h1>Feedback for <%= @presentation.title %></h1>

<% @presentation.surveys.each do |survey|  %>
  <%= form_tag do |f|%>
    <h3><%= survey.subject %></h3>
    <% survey.questions.each do |q| %>
      <%= label_tag(:q, "#{q.prompt}") %>
      <% if q.response_type == "text" %>
        <%= text_area_tag(:q, "Type something") %><br>
      <% else %>
        <%= radio_button_tag(:value, "5") %>
        <%= label_tag(:strongly_agree, "Strongly Agree")%>
        <%= radio_button_tag(:value, "4") %>
        <%= label_tag(:strongly_agree, "Somewhat Agree")%>
        <%= radio_button_tag(:value, "3") %>
        <%= label_tag(:strongly_agree, "Neutral")%>
        <%= radio_button_tag(:value, "2") %>
        <%= label_tag(:strongly_agree, "Somewhat Disagree")%>
        <%= radio_button_tag(:value, "1") %>
        <%= label_tag(:strongly_agree, "Strongly Disagree")%><br>
      <% end %>
    <% end %>
    <%= submit_tag("Submit")  %>
  <% end %>
<% end %>
