<%= error_messages(question_template) %>

<%= form_for(question_template, url: submit_path) do |f| %>
  <div class="form-group <%= error_class(question_template, :prompt) %>">
    <%= f.label :prompt %>
    <%= f.text_field :prompt, class: "form-control" %>
  </div>

  <div class="form-group <%= error_class(question_template, :response_type) %>">
    <%= f.label :response_type, "Response Type" %>
    <%= f.select :response_type, ["", "Number", "Text"], {}, class: "form-control" %>
  </div>

  <div class="form-group <%= error_class(question_template, :response_required) %>">
    <%= f.label :response_required, "Response Required" %>
    <br>
    <%= f.radio_button :response_required, true %> True
    <%= f.radio_button :response_required, false %> False
  </div>

  <%= f.submit "Submit", class: "btn btn-primary"  %>
  <%= link_to "Cancel", :back, class: "btn btn-default" %>
<% end %>
