<%= form_for ([@presentation, @survey]) do |f| %>
  <div class="form-group">
    <%= f.label :order %>
    <%= f.text_field :order, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :subject %>
    <%= f.text_area :subject, class: "form-control" %>
  </div>

  <%= f.submit "Submit", class: "btn btn-primary" %>
  <%= link_to "Cancel", :back, class: "btn btn-default" %>

<% end %>
