<div class="container">
  <%= back_button(presentation_path(@presentation)) %>

  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 text-center">

      <%= survey_admin_options(current_user, @presentation) %>
      <h1 class="text-center">Surveys</h1>
      <%= content_tag :div, class: "panel panel-warning text-left" do %>
      <div class="panel-heading">
        <h4><%= @presentation.title %></h4>
      </div>
      <table class="table">
        <tr>
          <th>Title</th>
          <th>Actions</th>
        </tr>
        <% @presentation.surveys.order(:position).each do |survey| %>
        <tr>
          <td><%= link_to "#{survey.title} (#{survey.position})", presentation_survey_path(@presentation.id, survey.id), class: disable_check(survey, current_user) %></td>
          <td>
            <%= survey_index_options(survey) %>
          </td>
        </tr>
        <% end %>
      </table>
      <% end %>
    </div>
  </div>

</div>
