<div class="container">
  <%= back_button(presentation_path(@presentation)) %>

  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 text-center">
      <%= survey_admin_options(current_user, @presentation) %>
      <h1 class="text-center">Surveys</h1>
      <%= content_tag :div, class: "panel panel-warning text-left" do %>
      <div class="panel-heading">
        <h4><%= @presentation.title %></h4>
      </div>
      <table class="table">
        <tr>
          <th>Title</th>
          <th>Actions</th>
        </tr>
        <% @presentation.surveys.order(:position).each do |survey| %>
        <tr>
          <td><%= link_to "#{survey.title} (#{survey.position})", presentation_survey_path(@presentation.id, survey.id) %></td>
          <td>
            <%= link_to "Edit", edit_presentation_survey_path(@presentation.id, survey.id), class: "btn btn-primary" %>
            <%= link_to "Delete", presentation_survey_path(@presentation.id, survey.id), class: "btn  btn-danger", method: :delete, data: { confirm: 'Are you sure you want to delete this survey?' } %>
          </td>
        </tr>
        <% end %>
      </table>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 text-center">
      <%= content_tag :div, class: "panel panel-info text-left" do %>
      <div class="panel-heading">
        <h4>Survey Templates</h4>
      </div>
      <table class="table">
        <% SurveyTemplate.all.each_with_index do |survey_template, index| %>
        <tr>
          <td class="survey-template-presentation">
            <div class="title">
              <a class="glyphicon glyphicon-chevron-right" aria-hidden="true" role="button" data-id="<%= index %>"></a>
              <%= survey_template.title %>
            </div>
            <div class="action">
              <%= link_to "Add to Presentation", "" %>
            </div>
            <table class="table table-bordered question-table" data-id="<%= index %>">
              <tr>
                <th class="col-xs-6">Questions on Survey</th>
                <th class="col-xs-4">Response Type</th>
                <th class="col-xs-2">Required?</th>
              </tr>
              <% survey_template.question_templates.each do |question_template| %>
              <tr>
                <td class="col-xs-6"><%= question_template.prompt %></td>
                <td class="col-xs-4"><%= question_template.response_type.capitalize %></td>
                <td class="col-xs-2"><%= required_check(question_template) %></td>
              </tr>
              <% end %>
            </table>
          </td>
        </tr>
        <% end %>
      </table>
      <% end %>
    </div>
  </div>
</div>
