<h1> ALL Surveys </h1>

<h2><%= @presentation.title %></h2>
<h3><%= @presentation.location %></h3>
<h3><%= @presentation.date %></h3>

<table class="table table-striped">
  <tr>
      <th>Subject</th>
      <th>Order</th>
      <th>Actions</th>
  </tr>
  <% @presentation.surveys.each do |survey| %>
    <tr>
      <td><%= link_to "#{survey.subject}", presentation_survey_path(@presentation.id, survey.id) %></td>
      <td><%= survey.order %></td>
      <td><%= link_to "Edit", edit_presentation_survey_path(@presentation.id, survey.id) %></td>
      <td><%= link_to "Delete", presentation_survey_path(@presentation.id, survey.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
